
#Virtual Environment
venv/

#Flask
instance/*
!instance/.gitignore
.webassets-cache

#Flask.Python Stack
#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.png
bin
Reports/
Screenshots/
Libs/
output
work/
build
.project
/bin/
/Libs/
/.settings/
/settings/
.svn/
/Screenshots/*.png
/Screenshots
/*.log